<h2>Template: <small>Dynamics</small></h2>
<hr>

<form (ngSubmit)="save()" #userForm="ngForm">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input class="form-control" 
                   type="text"
                   autocomplete="off"
                   placeholder="Person Name" 
                   [ngModel]="person.firstName"
                   name="firstName"
                   required/>
        </div>
        <span 
            *ngIf="validName()" 
            class="form-text text-danger">
            Must be at least 3 characters
        </span>

    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="text" class="form-control" 
                       placeholder="Add Favorite" 
                       aria-label="Recipient's username" 
                       aria-describedby="button-addon2"
                       [(ngModel)]="newGame"
                       (keyup.enter)="addGame()"
                       name="newGame">
                <button class="btn btn-outline-primary" 
                        type="button" 
                        id="button-addon2"
                        (click)="addGame()"
                        >Add</button>
            </div>
        </div>

    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9">
            <div class="input-group mb-3" *ngFor="let game of person.favorites; let i = index">
                <input 
                [ngModel]="game.name"
                name="game_{{i}}"
                class="form-control"                
                />
                <button class="btn btn-outline-danger" type="button" id="button-addon2" (click)="delete(i)">X</button>
            </div>           
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary float-end" (click)="save()" [disabled]="userForm.invalid">
                Save
            </button>
        </div>
    </div>
</form>


<span>Person</span>
<pre>{{ person | json }}</pre>